<figure class="effect-lily">
    <img ng-src="{{ movie.backdrop_path | posterPath }}" alt="{{ movie.title }}"/>
    <figcaption>
        <h2><span>{{ movie.title }}</span></h2>
        <p ng-if="movie.title !== movie.original_title">"{{ movie.original_title }}" (original title)</p>
        <p>Rating: {{ movie.vote_average }}</p>
        <p>Released: ({{ movie.release_date | releaseYear }})</p>
        <a ng-href="{{ detail + movie.id }}">More infos</a>
    </figcaption>
    <!--<div class="movie col-lg-6 col-sm-6 col-xs-12">-->
    <!--<div class="col-4-sm hidden-xs">-->
    <!--<img ng-src="{{ movie.poster_path | posterPath }}" alt="{{ movie.title }}">-->
    <!--</div>-->
    <!--  <div class="col-8-sm col-12-xs">
        <header>
          <h3>{{ movie.title }}<small> ({{ movie.release_date | releaseYear }})</small></h3>
          <h5 ng-if="movie.title !== movie.original_title">"{{ movie.original_title }}" (original title)</h5>
        </header>
        <div>
          <span>Rating: {{ movie.vote_average }}</span>

    </div>
    </div>-->
    <!--<a href="#">-->
    <!--    <a ng-href="{{ detail + movie.id }}">
            <div class="col-lg-4 col-md-4 ">
                <img ng-src="{{ movie.poster_path | posterPath }}" alt="{{ movie.title }}" class="thumbnail img-responsive">
            </div>
            <div class="col-lg-8 col-md-8">
                <h4>{{ movie.title }}</h4>
            </div>
        </a>-->
    <!--</a>-->
    <!--</div>-->
</figure>
