<div class="container-fluid">
    <div class="row">
        <form role="form" ng-submit="search()">
            <div class="col-md-6 col-md-offset-3">
                <div class="input-group">
                    <input type="search" class="form-control" id="searchKeyword" ng-model="keyword"
                           placeholder="Search for a movie..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>